<%- include('partials/_header.ejs'); -%>

<div class="header d-flex bd-highlight">
    <div class="p-2 flex-grow-1 bd-highlight">    
        <h2>Transactions</h2>    
    </div>
    <div class="p-2 bd-highlight"><h2>X</h2></div>
    <div class="p-2 bd-highlight"><h2>Q</h2></div>
</div>

<div class="list-group">
    <div>
        <ul id="demo">
            <% if (data) { %>
                <% for (var i = 0; i < data.length; i++) { %>
                    <li>
                        <a id="edit_href" href="/update/<%= data[i].id %>" class="list-group-item list_group_item_styles list-group-item-action" aria-current="true">
                            <div class="d-flex bd-highlight">
                                <div class="p-2 bd-highlight">
                                    <img class="transaction_image" src="https://via.placeholder.com/50/FFFfFf/FFFfFf/" alt="Card image cap">
                                </div>
                                <div class="p-2 flex-grow-1 bd-highlight">
                                    <h4 class="card-title" id="transaction_id"><%= data[i].notes -%></h4>
                                    <p class="card-text text-muted"><%= data[i].cName -%></p>
                                </div>
                                <div class="p-2 bd-highlight">
                                    <h4 class="amount_style card-title"><%= data[i].amount_spend.toLocaleString("en-US", {
                                        style: "currency",
                                        currency: "USD",
                                        minimumFractionDigits: 0
                                    }); -%>
                                    </h4>
                                    <p class="card-text-style card-text"><%= data[i].date.toLocaleDateString("en-US"); -%></p>
                                </div>
                            </div>
                        </a>
                    </li>
                <% }; %>
            <% } %> %>
        </ul>
    </div>
</div>

<%- include('partials/_footer.ejs'); -%>