<%- include('partials/_header.ejs'); -%>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>date</th>
            <th>categories</th>
            <th>notes</th>
            <th>amount_spend</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        <% if (data) { %>
            <% for (var i = 0; i < data.length; i++) { %>
                <tr>
                    <td><%= data[i].date.toLocaleDateString("en-US"); -%></td>
                    <td><%= data[i].cName -%></td>
                    <td><%= data[i].notes -%></td>
                    <td><%= data[i].amount_spend -%></td>
                    <td>
                        <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Delete</a>
                        <a href="/update/<%= data[i].id %>" class="btn btn-info">Edit</a>

                    </td>
                </tr>
            <% }; %>
        <% } %> %>
    </tbody>
</table>
<%- include('partials/_footer.ejs'); -%>